{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<script>
//     // Function to change heading to say goodbye
//     if (true) {
//         bought()
//     }
//     function bought() {
//         document.querySelector('#bought').value = "Bought2!"
//     }
// </script>
<!--// <div name='bought' class='alert alert-primary border text-center' role='alert'>-->
<!--//     </div>-->


    <h1>Portfolio</h1>

<main class="container p-5">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
                <th>Quick Buy</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td><b>{{portfolio_value }}</b></td>
                <td colspan="1"></td>
            </tr>
        </tfoot>
        <tbody>

            {% for i in history %}
                <tr>
                    <td>{{ i["symbol"].upper() }}</td>
                    <td>
                    {% for j in quote %}
                        {% if j["symbol"].upper() == i["symbol"].upper() %}
                            {{j["name"]}}
                        {% endif %}
                    {% endfor %}
                    </td>
                    <td>{{ i["total_shares"] }}</td>
                    <td>
                    {% for j in quote %}
                        {% if j["symbol"].upper() == i["symbol"].upper() %}
                            {{"${:,.2f}".format(j["price"])}}
                        {% endif %}
                    {% endfor %}
                    </td>
                    <td>
                    {% for j in quote %}
                        {% if j["symbol"].upper() == i["symbol"].upper() %}
                            {{ "${:,.2f}".format(j["price"] * i["total_shares"]) }}
                        {% endif %}
                    {% endfor %}

                    </td>
                    <td>
                    {% for j in quote %}
                        {% if j["symbol"].upper() == i["symbol"].upper() %}
                            <form action="/quote" method="post">
                                <!--<div class="form-group">-->
                                    <input autocomplete="off" autofocus class="form-control" name = "symbol" value="{{ i['symbol'] }}" readonly type="hidden">
                                <!--</div>-->
                                <button class="btn btn-primary" type="submit">Buy</button>
                            </form>
                        {% endif %}
                    {% endfor %}

                    </td>

                </tr>
            {% endfor %}


                <tr>
                    <td colspan="4">CASH</td>
                    <td>{{ remaining_cash }}</td>

                </tr>
        </tbody>

    </table>


        <!--{{history}}-->
        <!--<br><br>-->
        <!--{{quote}}-->

</main>


{% endblock %}
