{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <script>
    //     function funct()
    //     {
    //         document.querySelector("#result").innerHTML = document.querySelector("#password").value;
    //         document.querySelector("#result2").innerHTML = document.querySelector("#password2").value;
    //     }
    // </script>

    <h1>Registration</h1>
    <div>Please enter a unique username and password below:
    <br>
    <br>
    <form action="/register" method="post" onsubmit="funct();return true;">
    <!--<form action="/register" method="post">-->
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" ID="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" id="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="password2" placeholder="Confirm Password" type="password" id="password2">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>

    <br>
    <div>(Note that usernames cannot have a space or any special characters.
    Passwords must be at least 8 characters long, and have AT LEAST 1 lowercase letter, 1 uppercase letter, and 1 number.)
    </div>
    <div id="result">

    </div>
    <div id="result2">

    </div>

    <!--<div>-->
    <!--Testing - Hi {{ password3  }}!-->
    <!--</div>-->


{% endblock %}
